$primaryColor: rgb(43, 53, 58);
$secondaryColor: rgb(89, 103, 112);
$outline: rgb(112, 158, 211);
$backgroundColor: rgb(69, 75, 82);
$accentColor: rgb(101, 135, 246);
$fontColor: rgb(236, 239, 245);
$cardColor: rgb(197, 207, 214);
